body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin: 0;
}

#website-list {
    padding: 10px;
}

.site-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
}

.site-item strong {
    font-size: 1.2em;
}

.site-item p {
    margin: 5px 0;
}